body {
    font-family: 'Arial', sans-serif;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f8d7da, #f1b0b0);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

a:hover {
    background-color: #004494;
}

.suggestion {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
}

.suggestion h2 {
    color: #721c24;
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin: 5px 0;
    text-align: left;
}